.coworker {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  justify-content: space-between;
  background-color: #F8F8F8; /* Light gray background */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
  width: 1;
}

.coworker:hover {
  background-color: #E0E0E0; /* Slightly darker gray for hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
}

.coworker[ngStyle] {
  background-color: #E5E7FF !important; /* Soft blue for selected item */
}

.coworker img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #7300ff; /* Gold border around image */
}

.text-container {
  flex-grow: 1;
  overflow: hidden;
}

.text-container h3 {
  color: #ffffff; /* Darker text for better readability */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; /* Slightly larger font size */
  font-weight: 700;
  margin: 0;
}

.text-container p {
  color: #ffffff; /* Medium gray for secondary text */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 4px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  white-space: nowrap;
}
