<div>
<div class="chat" *ngIf="currentCoworker">
<div class="top">

<div class="coworker">
  <img src="assets/usersIcons/{{currentCoworker.PhotoUrl}}"alt=" Image"/>
  <h2> {{currentCoworker.Firstname+" "+currentCoworker.Lastname}}</h2>
 </div>
 <div class="topIcons">
  <img src="assets/icons/call.svg"alt=" Image"/>
  <img src="assets/icons/video.svg"alt=" Image"/>
  <img src="assets/icons/infocircle.svg"alt=" Image"/>

 </div>
</div>



<div class="mid">
  <div *ngFor="let item of messageList;let i =index">
    <div class="a" [class.div-sent-message]="item.senderId==userEmail">
    <p class="aa" [class.sent-message]="item.senderId!=userEmail">
      {{item.message}}
    </p>
  </div>
  </div>

</div>



<div class="bot">
 <div class="left_bot">
  <img src="assets/icons/camera.svg"alt=" Image"/>
  <img src="assets/icons/gallery.svg"alt=" Image"/>
  <img src="assets/icons/voicecricle.svg"alt=" Image"/>
</div>
<div class="right_bot">
  <input id="texting" type="text" placeholder="Message" [(ngModel)]="message" name ="message">
  <button id="sendButton" (click)="sendMessage()">
    <div class="svg-wrapper-1">
      <div class="svg-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
        </svg>
      </div>
    </div>
    <span>Send</span>
  </button>
</div>
</div>
</div>
