<div id="main">
  <div class="list">

<app-navigation></app-navigation>
<app-coworkers-list *ngIf="ChatRoomSOrCoworkers; else chatGroup"></app-coworkers-list>
<ng-template #chatGroup>
  <app-chat-rooms-list></app-chat-rooms-list>
</ng-template>

</div>
<div class="chat">
<div class="custom">
<app-chat id="childChat" *ngIf="ChatRoomSOrCoworkers; else other"></app-chat>
<ng-template #other>
  <app-chat-group></app-chat-group>
</ng-template>
</div>
</div>
<div class="edit">
  <app-upload-images ></app-upload-images>

</div>
</div>
