#main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Full viewport height */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  background-color: #a5cbf2; /* Light background for the main container */
}

.list {
border-top-left-radius:35px;
border-bottom-left-radius:35px;

  margin-top: 30px;
  margin-left: 80px;

  display: flex;
  flex-direction: column;
  width: 23%; /* Navigation and list take up 25% of the width */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for separation */
  height: 800px; /* Set a fixed height or use '100vh' if it needs to fill the screen */
  background-color: #007aff; /* Light background for chat area */
overflow: hidden;
box-shadow: 1px 2px 2px 4px rgba(37, 33, 33, 0.1); /* Box shadow for depth */

}

.upperList {
  width: 100%; /* Take full width of the container */
  /* height: 100px; Remove fixed height to allow content to dictate size */
  padding: 10px; /* Padding for visual spacing */
}





.chat {
  margin-top: 30px;

  height: 800px;
  width: 1;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

  background-color: #ffffff; /* Light background for chat area */
  overflow: hidden;
  box-shadow: 1px 2px 2px 4px rgba(37, 33, 33, 0.1); /* Box shadow for depth */

}
app-chat , app-chat-group {
  display: flex;
  flex-direction: column;
  position: relative; /* Makes sure child elements are positioned relative to this container */
  background-color: #f8f9fb; /* Light background for chat area */
  /* margin: 20px; Margin to separate from the edges */
}
.edit{
  border-top-right-radius:35px;
border-bottom-right-radius:35px;
  margin-top: 30px;
margin-right: 80px;
  width: 17%;
  height: 800px;
  background-color: #ffffff;
  overflow: hidden;

  box-shadow: 1px 2px 2px 4px rgba(37, 33, 33, 0.1); /* Box shadow for depth */

}


app-navigation {
  width: 100%; /* Take full width of the container */
  /* height: 100px; Remove fixed height to allow content to dictate size */
}

app-upload-images {
  padding: 20px; /* Padding to align with other elements */
}

app-coworkers-list {
flex-grow: 1;
  /* Adjusted height for better layout balance */
  background-color: #007aff; /* Consistent background color */
  display: flex;
  flex-direction: column; /* Column layout for coworker list */
  overflow-y: auto; /* Scrollable if content overflows */
  padding: 10px 20px; /* Padding for some breathing room */
}
/* Styles for WebKit-based browsers */
app-coworkers-list::-webkit-scrollbar {
  width: 8px;
}

app-coworkers-list::-webkit-scrollbar-track {
  background: #007aff;
}

app-coworkers-list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #007aff;

}
app-chat-rooms-list {
  flex-grow: 1;
  /* Adjusted height for better layout balance */
  background-color: #007aff; /* Consistent background color */
  display: flex;
  flex-direction: column; /* Column layout for coworker list */
  overflow-y: auto; /* Scrollable if content overflows */
  padding: 10px 20px; /* Padding for some breathing room */
}





.username {
  font-size: 20px;
  margin-left: -50px;
  color: #333; /* Darker color for better readability */
  font-weight: 700; /* Bold text for emphasis */
}
