



<div class="uploadField" >



    <input
      type="file"
      id="fileInput"
      name="fileInput"
      accept="image/*"
      multiple
      (change)="selectFiles($event)"
      hidden
    >
    <div class="logologout">

    <label for="fileInput"><img (click)="showEdit()"
    src="assets/usersIcons/{{user?.PhotoUrl}}" alt="Your Image" />
    </label>
    <h3>{{user?.Firstname +" "+user?.Lastname}}</h3>

    </div>

  <div [hidden]="toggleToolBar">
    <input [hidden]="true" matInput [value]="selectedFileNames.length ? selectedFileNames.join(', ') : 'Select Images'" readonly>
<div class="btns">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >Upload</button>
    <button (click)="toggleToolBar=true"> Cancel </button>
  </div>
  </div>
<div id="logoutBtnDiv">
      <button id="logoutBtn" (click)="logout()">Logout </button>

    </div>
</div>




