/* Add this CSS to the component's CSS file */

.add-room-dialog {
  padding: 20px;
  background-color: #f8f9fb; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

}

.dialog-title {
  text-align: center;
  font-size: 24px;
  color: #333; /* Darker text for better readability */
  margin-bottom: 20px;
}

.dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}




.dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cancel-btn, .add-room-btn {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s;
}

.cancel-btn {
  background-color: #f1f1f1; /* Light gray background for Cancel button */
  color: #333; /* Dark text for better readability */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel-btn:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-room-btn {
  background-color: #4dc7d9; /* Blue background for Add Room button */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-room-btn:hover {
  background-color: #66a6ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-room-btn:disabled {
  background-color: #ccc; /* Gray background when disabled */
  cursor: not-allowed;
}
